PCO_GROUP_ID=group_id (For calendar table, we used it to keep track of staff group)
PCO_PEOPLE_PAGE_LIMIT=100
PCO_PEOPLE_INCLUDE_PERSON="inactive_reason,marital_status,emails,phone_numbers,addresses,households.people"
PCO_PEOPLE_INCLUDE_FIELD_DATA="field_definition,field_option,tab"
PCO_BASE_URL="https://api.planningcenteronline.com"
PCO_APP_ID="your-planning-center-app-id"
PCO_SECRET="your-planning-center-secret-id"
PCO_MAX_WORKERS=8
PCO_PAGE_WORKERS=6
PCO_MAX_RPS=16
PCO_BURST=8
PCO_DELTA_WORKERS=4
AZURE_SQL_SERVER="your-sql-server"
AZURE_SQL_DATABASE="your-sql-db"
GROUP_LIMIT=
PAST_LIMIT=5
FUTURE_LIMIT=
GROUPS_MAX_EVENT_PAGES=
GROUPS_MODE=past
LOCAL_TIMEZONE = "America/Los_Angeles"
SQL_DATETIME_FORMAT = "%Y-%m-%d %H:%M:%S.%f"