# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
requests
urllib3
dotenv
python-dotenv
azure-core
powerplatform-dataverse-client
psutil
mssql-python
pyodbc